target/
dbt_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
**/*.duckdb
**/*.duckdb.wal

.shuttle/
.venv
venv
.idea
__pycache__
full/
incremental/
.secrets
.dbt/
.secrets
/reports
.vscode/

